In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'B': [1,1,1,1],'C':[1,2,3,6],'E':[4,4,4,4]},index=[2018,2019,2020,2021])
df

      B  C  E
2018  1  1  4
2019  1  2  4
2020  1  3  4
2021  1  6  4

In [3]:
df.columns

Index(['B', 'C', 'E'], dtype='object')

In [4]:
df.index

Int64Index([2018, 2019, 2020, 2021], dtype='int64')

In [5]:
df.eval('''X = B*C
           THE_ANSWER = 42''')

      B  C  E  X  THE_ANSWER
2018  1  1  4  1          42
2019  1  2  4  2          42
2020  1  3  4  3          42
2021  1  6  4  6          42

In [6]:
df.loc[2019,'C']

2

In [7]:
df.loc[:,'C']

2018    1
2019    2
2020    3
2021    6
Name: C, dtype: int64

In [8]:
df.loc[2019,:]

B    1
C    2
E    4
Name: 2019, dtype: int64

In [9]:
df.loc[:,['B','C']]

      B  C
2018  1  1
2019  1  2
2020  1  3
2021  1  6

In [10]:
df.loc[2019,'C'] = 42
df

      B   C  E
2018  1   1  4
2019  1  42  4
2020  1   3  4
2021  1   6  4